[submodule "root/.vim/bundle/puppet"]
	path = root/.vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "userhome/.vim/bundle/puppet"]
	path = userhome/.vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git

[submodule "root/etc/dircolors"]
	path = root/etc/dircolors
	url = git@github.com:gibbling/dircolors.git
[submodule "userhome/etc/dircolors"]
	path = userhome/etc/dircolors
	url = git@github.com:gibbling/dircolors.git
